[submodule "feather"]
	path = feather
	url = https://github.com/feathericons/feather
[submodule "octicons"]
	path = octicons
	url = https://github.com/primer/octicons.git
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/icons
[submodule "lipis-flag-icons"]
	path = lipis-flag-icons
	url = git@github.com:lipis/flag-icons.git
[submodule "lucide"]
	path = lucide
	url = https://github.com/lucide-icons/lucide
