:root {
  --main-color: rgb(166, 0, 255);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  transition: background-color 500ms;
  padding-bottom: 60px;
}

.gallery {
  padding: 10px;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  align-items: center;

  .icon-name {
    font-size: 12px;
    text-align: center;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
  }

  svg {
    cursor: pointer;
    border: 3px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 30px;
  }

  svg:hover {
    background-color: rgba(166, 0, 255, 0.2);
    border: 3px solid var(--main-color);
  }
}

.search-container {
  background-color: var(--main-color);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  .search-input {
    position: relative;
  }

  input {
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.29);
    width: max(300px, 70vw);
    font-size: 16px;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 0px;
    transform: translateY(50%);
    opacity: 0.5;
  }
}

.no-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(50px + 1vw);
  color: rgb(72, 72, 72);
  padding: 30px;
}

header {
  padding: 10px 12px;

  display: flex;
  flex-direction: row;
  align-items: center;

  .header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .header-links a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: color 200ms;

    &:hover {
      color: var(--main-color);
    }

    .github {
      transition: transform 500ms;
    }

    .github:hover {
      transform: rotateZ(45deg);
    }
  }
}

body.dark {
  background-color: rgb(20, 20, 20);
  color: white;

  .header-links a {
    color: white;
  }

  .icon-name {
    color: rgb(222, 222, 222);
  }

  .search-input {
    input {
      background-color: #252525;
      color: white;
    }

    .search-icon {
      position: absolute;
      opacity: 0.9;
    }
  }
}
